*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*------------------  GLOBAL START  ------------------*/


body {

    font-family: 'Open Sans', sans-serif;
    font-size: 14;
    color: #ffffff;
    width: 100%;
}

.decor__white {
    position: relative;
    width: 280px;
    margin: 20px auto 80px;
    border-bottom: #ffffff solid 1px;
}

.decor__white::before {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #ffffff;
    left: 0;
    top: -6px;
}

.decor__white::after {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #ffffff;
    right: 0;
    top: -6px;
}

.decor__black {
    position: relative;
    width: 280px;
    margin: 20px auto 80px;
    border-bottom: #0d0b11 solid 1px;
}

.decor__black::before {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #0d0b11;
    left: 0;
    top: -6px;
}

.decor__black::after {
    position: absolute;
    content: '';
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #0d0b11;
    right: 0;
    top: -6px;
}

/*------------------  GLOBAL END  ------------------*/

/*------------------  NAV START  ------------------*/

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 84px;
    background-color: #0d0b11;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    z-index: 99;
}

.nav__container {
    position: relative;
    width: 1170px;
    margin: 0 15px;
    height: 100%;

}

.nav__list {
    position: relative;
    display: flex;
    list-style: none;
    height: 100%;

    align-items: center;
    justify-content: flex-end;
}


.nav__logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%)
}

.nav__item {}

.nav__link {
    text-decoration: none;
    color: #ffffff;
    margin-left: 50px;
}

.nav__link:hover {
    color: #ea5b58;
}

/*------------------  NAV END  ------------------*/

/*------------------  SLIDER START  ------------------*/

.slider__bg {
    background-color: #161828;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.slider {
    position: relative;
    margin: 84px 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1185px;
    padding: 50px 0;
}

.slider::after {
    position: absolute;
    content: "";
    background-image: url(../img/bg_img_slider.png);
    top: 40px;
    left: 5px;
    width: 77%;
    height: 100%;
    z-index: 1;
}

.slider__box {
    position: relative;
    z-index: 3;
}

.slider__img {
    width: 41%;
    position: relative;
    z-index: 2;
}

.slider__header {
    font-weight: bold;
    font-size: 36px;
}

.slider__description {
    font-size: 21px;
    font-weight: 300;
    margin: 40px 0 60px 0;
}

.slider__button {
    font-size: 18px;
    padding: 20px 47px;
    color: #ffffff;
    background-color: #ea5b58;
    border: none;
    border-radius: 3px;
}

.slider__button:hover {
    background-color: #ca3a36;
}


/*------------------  SLIDER END  ------------------*/

/*------------------  SERVICES START  ------------------*/

.services__bg {
    background-color: #475a85;
    display: flex;
    justify-content: center;
}

.services {
    position: relative;
    margin: 0 15px;
    max-width: 1185px;
    padding: 70px 0 50px;
}

.services__header {
    font-size: 30px;
    text-align: center;
}

.services__descriprion {
    font-size: 16px;
    text-align: center;
}

.services__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 30px;
}

.service__box {
    position: relative;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.service__box--after::after {
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.service__box--after:nth-child(1)::after {
    background-image: url(../img/heart.png);
}

.service__box--after:nth-child(2)::after {
    background-image: url(../img/globe.png);
}

.service__box--after:nth-child(3)::after {
    background-image: url(../img/monitor.png);
}

.service__box--after:nth-child(4)::after {
    background-image: url(../img/rocket.png);
}

.service__img {
    margin-bottom: 30px;
}

.service__box-header {
    position: relative;
    font-size: 18px;
    padding-top: 60px;
}



.service__box-description {
    font-size: 14px;
    text-align: center;
    margin: 15px 0 25px;
}

.service__box-button {
    font-size: 11px;
    background-color: #ea5b58;
    color: #ffffff;
    border-radius: 3px;
    border: none;

    padding: 12px 32px;
}

/*------------------  SERVICES END  ------------------*/

/*------------------  WORK-HEADER START  ------------------*/

.work-hader {
    height: 420px;
    width: 100%;
    background: center/cover url(../img/work-header.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work-header__header {
    font-size: 48px;
}

.work-header__description {
    font-size: 24px;

}

/*------------------  WORK-HEADER END  ------------------*/

/*------------------  PORTFOLIO START  ------------------*/

.portfolio__bg {
    background: #ffffff;
    display: flex;
    justify-content: center;
}

.portfolio {
    position: relative;
    margin: 0 15px;
    padding: 80px 0;
    width: 1185px;
    color: #323232;
}

.potrfolio__header {
    text-align: center;
}

.portfolio__desctiption {
    text-align: center;
}

.portfolio__choice-box {
    text-align: center;
    margin-bottom: 40px;
}

.portfolio__choice {
    font-size: 18px;
    color: #a7a7a7;
}

.portfolio__choice--active {
    color: #323232;

}

.portfolio__project-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.portfolio__project {
    position: relative;
    width: 370px;
    height: 290px;
    margin-bottom: 38px;
    color: #ffffff;
    background-position: center;
    background-size: cover;
}


.img1 {
    background-image: url("../img/project-1.jpg");
}

.img2 {
    background-image: url("../img/project-2.jpg");
}

.img3 {
    background-image: url("../img/project-3.jpg");
}

.img4 {
    background-image: url("../img/project-5.jpg");
}

.img5 {
    background-image: url("../img/project-5.jpg");
}

.img6 {
    background-image: url("../img/project-6.jpg");
}

.portfolio__project:hover .portfolio__project-hover {
    opacity: 1;
}

/* ---- popup window when click START---- */

.img-window {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.img-window img {
    max-height: 80vh;
    max-width: 80vw;

}

.img-btn-next {
    display: block;
    text-align: center;
    height: 25px;
    line-height: 25px;
    width: 50px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    z-index: 500;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
}

.img-btn-next:hover {
    opacity: 0.8;
}

.img-btn-prev {
    display: block;
    text-align: center;
    height: 25px;
    line-height: 25px;
    width: 50px;
    border-radius: 4px;
    background-color: #111111;
    position: fixed;
    top: 48vh;
    z-index: 500;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
}

.img-btn-prev:hover {
    opacity: 0.8;
}

/* ---- popup window when click END ---- */

.portfolio__project-hover {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: #506083;
    height: 100%;
    opacity: 0;
    transition: all 0.2s ease-in;
}

.portfolio__project-header {
    font-size: 24px;
    margin: 60px 0 20px;
}

.portfolio__project-description {
    font-size: 14px;
    text-align: center;
    padding: 0 40px;
}

.portfolio__project-eye {
    margin-top: 28px;
    width: 39px;
    height: 22px;
    background: url(../img/project-eye.png);
}

.portfolio__button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio__button-header {
    font-weight: bold;
    font-size: 18px;
}

.prtfolio__button-arrow {
    margin-top: 10px;
    height: 35px;
    width: 50px;
    background: url(../img/arrow.png);
}

/*------------------  PORTFOLIO END  ------------------*/

/*------------------  TESTIMONIAL START  ------------------*/

.testimonial__bg {
    display: flex;
    justify-content: center;
}

.testimonial {
    margin: 0 15px;
    padding: 0 0 80px 0;
    width: 1185px;
    color: #323232;

}

.testimonial__slider {
    width: 100%;

}

.testimonial__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;


}

.testimonial__img {
    padding: 0 55px;

}

.testimonial__img-face {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 3px solid #ebebeb;
    background-position: center;
    background-size: cover;
}

.face1 {
    background-image: url(../img/face1.jpg);
}

.face2 {
    background-image: url(../img/face2.jpg);
}

.face3 {
    background-image: url(../img/face3.jpg);
}

.face4 {
    background-image: url(../img/face4.jpg);
}


.testimonial__content {
    width: 60%;
}

.testimonial__review {
    position: relative;
    font-size: 16px;
    line-height: 28px;
    margin-left: auto;
}

.testimonial__review::after {
    position: absolute;
    content: '';
    height: 15px;
    width: 19px;
    top: 7px;
    left: -35px;
    background-image: url(../img/apostrophe.png);
    background-repeat: no-repeat;
}

.testimonial__review-name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
}



/*------------------  TESTIMONIAL END  ------------------*/

/*------------------  CONTACT-HEADER START   ------------------*/

.contact-header {
    background: center/cover url(../img/contact-header.jpg);
}

/*------------------  CONTACT-HEADER END   ------------------*/

/*------------------  MAP START   ------------------*/

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

/*------------------  MAP END   ------------------*/

/*------------------  CONTACT START   ------------------*/

.contact__bg {
    background-color: #475a85;
    display: flex;
    justify-content: center;
}

.contact {
    position: relative;
    margin: 0 15px;
    padding: 80px 0;
    width: 1185px;
}

.contact__content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact__address-box {
    font-style: normal;
    line-height: 37px;
    font-size: 16px;
}

.contact__address {
    margin-top: 15px;
}

.contact__png {
    display: inline-block;
    width: 18px;
    height: 16px;
    background-position: center bottom;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.contact__png--location {
    background-image: url(../img/location.png);
}

.contact__png--phone {
    background-image: url(../img/phone.png);

}

.contact__png--mail {
    background-image: url(../img/mail.png);

}


.contact__social-list {
    display: flex;
    list-style-type: none;
    margin-top: 45px;
}

.contact__social-item {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #c0c0c0;


    margin-right: 19px;
}


.contact__social-item:hover {
    background-color: #ffffff;
}

.contact__svg {}



.contact__social_link {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__form {
    width: 570px;

}

.contact__form-input {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact__form-name,
.contact__form-emaill {
    line-height: 60px;
    width: 275px;
    border-radius: 4px;
    color: #747474;
    font-size: 18px;
    padding-left: 20px;
    border: none;
}



.contact__form-textarea {
    width: 100%;
    height: 163px;
    margin: 20px 0 15px;
    border-radius: 4px;
    color: #747474;
    font-size: 18px;
    padding-left: 20px;
    border: none;
    line-height: 60px;
    resize: none;
}

.contact__form-button {
    border: none;
    width: 155px;
    line-height: 55px;
    background-color: #ea5b58;
    color: #ffffff;
    border-radius: 4px;
    font-size: 18px;
}


.contact__form-button:hover {
    background-color: #ca3a36;
}

/*------------------  CONTACT END   ------------------*/

/*------------------  FOOTER START   ------------------*/
.footer {
    background-color: #161828;
    color: #76777f;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

.footer__copyright {}

.footer__logo {
    margin-top: 25px;
}

/*------------------  FOOTER END   ------------------*/

/*------------------  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   ------------------*/
/*------------------  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   ------------------*/
/*------------------  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   ------------------*/

@media screen and (max-width: 1000px) {
    .slider {
        justify-content: center;
    }

    .slider__img {
        position: absolute;
        bottom: -50px;
        left: -50px;
        opacity: .3;
    }

    .slider__box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact__form {
        width: 95%;
        margin: 0 auto;

    }

    .contact__form-name,
    .contact__form-emaill {
        width: 48%;
    }
}

/*------------------  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   ------------------*/
/*------------------  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   ------------------*/
/*------------------  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   ------------------*/