*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*------------------  GLOBAL START  ------------------*/


body {
    font: 14px 'Open Sans', sans-serif;
    color: #ffffff;
    background-color: #161828;
}


/*------------------  GLOBAL END  ------------------*/

/*------------------  NAV START  ------------------*/





/*------------------  NAV END  ------------------*/