*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*------------------  GLOBAL START  ------------------*/


body {
    font: 14px 'Open Sans', sans-serif;
    color: #ffffff;
    background-color: #161828;
}


/*------------------  GLOBAL END  ------------------*/

/*------------------  NAV START  ------------------*/

.nav__container {
    position: fixed;
    width: 100vw;
    height: 84px;
}

.nav__list {
    display: flex;
    list-style: none;
    height: 100%;
    width: 1185px;
    justify-content: space-between;
}

.nav__item {}

.nav__logo {}

.nav__link {
    text-decoration: none;
    color: #ffffff;

}



/*------------------  NAV END  ------------------*/