*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*------------------  GLOBAL START  ------------------*/


body {
    font: 14px 'Open Sans', sans-serif;
    color: #ffffff;
    background-color: #161828;
}


/*------------------  GLOBAL END  ------------------*/

/*------------------  NAV START  ------------------*/

.nav {
    position: fixed;
    width: 100vw;
    height: 84px;
    background-color: #000000;
}

.nav__container {
    position: relative;
    height: 100%;
    width: 100%;
}

.nav__list {
    position: relative;
    display: flex;
    list-style: none;
    margin: 0 auto;
    height: 100%;
    width: 1185px;
    align-items: center;
    justify-content: flex-end;
}


.nav__logo {
    position: absolute;
    left: 0;

}

.nav__item {
    margin-left: 50px;
}

.nav__link {
    text-decoration: none;
    color: #ffffff;

}



/*------------------  NAV END  ------------------*/