*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*------------------  GLOBAL START  ------------------*/


body {

    font-family: 'Open Sans', sans-serif;
    font-size: 14;
    color: #ffffff;
    width: 100%;
}


/*------------------  GLOBAL END  ------------------*/

/*------------------  NAV START  ------------------*/

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 84px;
    background-color: #000000;
    padding: 0 15px;
    display: flex;
    justify-content: center;
}

.nav__container {
    position: relative;
    width: 1170px;
    margin: 0 15px;
    height: 100%;

}

.nav__list {
    position: relative;
    display: flex;
    list-style: none;
    height: 100%;

    align-items: center;
    justify-content: flex-end;
}


.nav__logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%)
}

.nav__item {}

.nav__link {
    text-decoration: none;
    color: #ffffff;
    margin-left: 50px;
}

.nav__link:hover {
    color: #ea5b58;
}

/*------------------  NAV END  ------------------*/

/*------------------  SLIDER START  ------------------*/

.slider__bg {
    background-color: #161828;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.slider {
    position: relative;
    margin: 84px 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1185px;
    padding: 50px 0;
}

.slider::after {
    position: absolute;
    content: "";
    background-image: url(../img/bg_img_slider.png);
    top: 40px;
    left: 5px;
    width: 77%;
    height: 100%;
    z-index: 1;
}

.slider__box {
    position: relative;
    z-index: 2;
}

.slider__img {
    width: 41%;
    position: relative;
    z-index: 2;
}

.slider__header {
    font-weight: bold;
    font-size: 36px;
}

.slider__description {
    font-size: 21px;
    font-weight: 300;
    margin: 40px 0 60px 0;
}

.slider__button {
    font-size: 18px;
    padding: 20px 47px;
    color: #ffffff;
    background-color: #ea5b58;
    border: none;
    border-radius: 3px;
}

.slider__button:hover {
    background-color: #ca3a36;
}

/*------------------  SLIDER END  ------------------*/

/*------------------  SERVICES START  ------------------*/

.services__bg {
    background-color: #475a85;
    display: flex;
    justify-content: center;
}

.services {
    position: relative;
    margin: 0 15px;
    width: 1185px;
    padding: 70px 0 100px;
}

.services__header {
    font-size: 30px;
    text-align: center;
}

.services__descriprion {
    font-size: 16px;
    text-align: center;
}

.services__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}

.service__box {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__img {
    margin-bottom: 30px;
}

.service__box-header {
    position: relative;
    font-size: 18px;
    padding-top: 100px;
}

.service__box-header::after {
    position: absolute;
    content: '';
    background-image: url(../img/heart.png);
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 50%;
    height: 100%;
    width: 100%;
    margin-right: -50%;

    transform: translateX(-50%);
}

.service__box-description {
    font-size: 14px;
    text-align: center;
    margin: 15px 0 25px;
}

.service__box-button {
    font-size: 11px;
    background-color: #ea5b58;
    color: #ffffff;
    border-radius: 3px;
    border: none;

    padding: 12px 32px;
}

/*------------------  SERVICES END  ------------------*/