@import "reset.css";


/*  -----  LAYOUT START  -----  */

body {
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.form {
    display: flex;
    flex-direction: column;
}

input {
    vertical-align: baseline;
}

h2 {
    text-shadow: #341b0d 1px 2px 2px;
    font-size: 32px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    margin: 40px 0px 20px;
}

.invisible {
    position: absolute !important;
    top: -9999px;
}

/*  -----  LAYOUT END  -----  */


/*  -----  HEADER START  -----  */

header {
    margin-top: 55px;
}

header>img {
    width: 429px;
    height: 111px;
    display: block;
    margin: 0px auto;
    opacity: .2;
    
}


/*  -----  HEADER END  -----  */


/*  -----  MAIN START  -----  */

main {
    width: 1000px;
    margin: 13px auto;
    display: flex;
    justify-content: space-around;
}

main article {
    padding: 0px 40px;
    flex: 1;
}


/*  -----  MAIN END  -----  */


/*  -----  FORM START  -----  */

section {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 4px;
}

section form {
    background: #f4f4f4;
    border-radius: 4px;
    padding: 20px;
}

.text,
.password,
.email,
.telephone,
.select,
.textarea {
    width: 100%;
    height: 40px;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    margin-bottom: 20px;
    padding-left: 80px;
    color: #a3a3a3;
    transition: border-color ease 0.3s;
}

.text {
    background: url("../img/username-icon.jpg") top left no-repeat, linear-gradient(#f6f6f6, #f0f0f0);
}

.password {
    background: url("../img/password-icon.jpg") top left no-repeat, linear-gradient(#f6f6f6, #f0f0f0);
}

.email {
    background: url("../img/email-icon.jpg") top left no-repeat, linear-gradient(#f6f6f6, #f0f0f0);
}

.select {
    background: url("../img/location-icon.jpg") top left no-repeat, url("../img/arrow-icon.jpg") top right no-repeat, linear-gradient(#f6f6f6, #f0f0f0);
}

.telephone {
    background: url("../img/phone-icon.jpg") top left no-repeat, linear-gradient(#f6f6f6, #f0f0f0);
}

input:focus,
.select:focus,
.textarea:focus {
    border-color: #a3a3a3;
    outline: none;
}

input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
    color: #c9c9c9;
    opacity: 1;
}

input:-moz-placeholder,
.textarea:-moz-placeholder {
    color: #c9c9c9;
    opacity: 1;
}

input::-moz-placeholder,
.textarea::-moz-placeholder {
    color: #c9c9c9;
    opacity: 1;
}

input:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
    color: #c9c9c9;
    opacity: 1;
}

.select {
    color: #c9c9c9;
}

.select:focus {
    color: #a3a3a3;
}

.select {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.submit {
    width: 100%;
    height: 46px;
    border: 1px solid #3a9a00;
    border-radius: 3px;
    font-size: 24px;
    color: #fff;
    text-shadow: 1px 1px 1px #2e6c02;
    cursor: pointer;
    background-image: linear-gradient(#addc54, #7ec31f);

}

.submit:hover:enabled {
    background-image: linear-gradient(#78bc1b, #60a008);
}

.submit--inactive {
    background: linear-gradient(#e0f2c0, #c7ee91);
    cursor: not-allowed;
    border: 1px solid #90ca6d;
}

.submit--small {
    width: 40%;
    font-size: 22px;
    height: 40px;
}

.submit--right {
    float: right;
}

.submit--discard {
    background-image: linear-gradient(#f65e70, #f03747);
    border-color: #b40e1b;
}

#subscribe__form .submit--discard:hover {
    background-image: linear-gradient(#ec3242, #e30e21);
}

.option {
    background: #F4F4F4;
}

.checkbox {
    opacity: 0;
    margin-bottom: 20px;
}

.label--checkbox {
    font-size: 16px;
    font-weight: 200;
    color: #c9c9c9;
    position: relative;
    cursor: pointer;
    line-height: 25px;
}

.label--checkbox::before {
    content: "";
    display: inline-block;
    border: 1px solid #c9c9c9;
    border-radius: 3px;
    height: 24px;
    width: 24px;
    position: absolute;
    left: -23px;
    top: 0px;
}

.label--checkbox::after {
    content: none;
}

.label--checkbox__span {
    padding-left: 15px;
}

.checkbox:checked+.label--checkbox::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 3px;
    background: linear-gradient(#a3d740, #7fc41f);
    position: absolute;
    left: -17px;
    top: 6px;
}

.checkbox:focus+.label--checkbox:before {
    border: 1px solid #969696;
}

.form--sign-in .label--checkbox::before {
    top: 0px;
}

.form--sign-in .checkbox:checked+.label--checkbox::after {
    top: 6px;
}

.textarea {
    height: 230px;
    text-align: left;
    padding: 10px 15px;
    background: linear-gradient(#f6f6f6, #f0f0f0);
}

.logo__bottom {
    margin: 50px auto 20px;
}

.logo__bottom img {
    width: 355px;
    height: 130px;
    display: block;
    opacity: .3;
    margin: 0px auto;
}


/*  -----  FORM END  -----  */


