@import url('https://db.onlinewebfonts.com/c/b7a29c039fb2e83c4ed29dc264ecd906?family=MrsEaves')
@import url('https:////db.onlinewebfonts.com/c/3fdb879e1f60a0c91e9b4bee114a0928?family=Segoe+WP+Light')
@import url('https:////db.onlinewebfonts.com/c/4735dd9ca25670c44600021e7428b8d3?family=Segoe')
@import url('https:////db.onlinewebfonts.com/c/6c05048f4d8be0d5770f1d2ac6535624?family=Museo+Slab')

$small: 16px
$medium: 20px
$big: 28px
$veryBig: 50px
