.header
    max-width: 100%
    margin: 0 auto
    &__heading
        font-family: 'Segoe WP Light', Arial, sans-serif
        font-size: $veryBig
        text-align: center
        color: #fff
        margin-bottom: 40px
    &__description
        font-family: 'Segoe', Arial, sans-serif
        font-size: $small
        line-height: 23px
        color: #fff
        width: 800px
        margin: 0 auto
        text-align: justify
        hyphens: auto
