.timeline
    max-width: 100%
    &__container
        display: flex
        justify-content: center
        .left
            margin-right: 40px
        .right
            margin-left: 40px
    &__view-1
   